<header class="header">
        <div class="header-content">
            <div class="container">
                <div class="header-wrap">
                    <div class="account-item">
                        <div class="content">
                            <a>Hallo {{ app.user.username|capitalize }}, es ist der {{ "now"|date("d.m.Y") }} um {{ "now"|date("H:i", "Europe/Paris") }}</a>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </header>