<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <link rel="icon" href="../src-client/images/favicon.svg">
            <title>TEMPtation</title>
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert slide-in-top alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('failure') %}
            <div class="alert slide-in-top alert-failure">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </body>
</html>

{# <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title> #}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {# {% block stylesheets %} #}
            {#{{ encore_entry_link_tags('app') }}#}
        {# {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {# {% endblock %} #}
    {# </head>
    <body> #}
        {# {% block body %}{% endblock %} #}
    {# </body>
</html> #}