<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <link rel="icon" href="../src-client/images/favicon.svg">
            <link rel="stylesheet" href="../build/app.css">
            <title>TEMPtation</title>
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert slide-in-top alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('failure') %}
            <div class="alert slide-in-top alert-failure">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </body>
</html>