{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
 <div class="page-wrapper">
    {% include 'partials/backend-side-menu.html.twig' %}
        <div class="page-container">
    	{% include 'partials/backend-header.html.twig' %}
            <div class="main-content">
                <div class="header-content">
                    <div class="container">
                            <div class="content-box">
                                <h3 class="title">
                                    <i class="fas fa-users"></i>Herzlich Willkommen!</h3>
                                    <p> Hallo {{ app.user.username|capitalize }}
                                        {% if lastLogin is defined and lastLogin is not empty %}
                                            ,
                                            <br>
                                            <br>
                                            du warst zuletzt am {{ lastLogin|date("d/m/Y \\u\\m H:i", "Europe/Paris") }} online.
                                        {% else %}
                                            !
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
