{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
 <div class="page-wrapper">
    {% include 'partials/backend-side-menu.html.twig' %}
        <div class="page-container">
    	{% include 'partials/backend-header.html.twig' %}
            <div class="main-content">
                <div class="header-content">
                    <div class="container">
                            <div class="content-box">
                                <h3 class="title-3">
                                    <i class="fas fa-users"></i>Herzlich Willkommen!</h3>
                                    <p> Guten Tag {{ app.user.username|capitalize }},
                                        <br><br>
                                        du warst zuletzt am 04.05.2021 um 15:35 online.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
