{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../src-client/css/backend.css">
    <link href="../src-client/css/fontawesome-all.min.css" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
 <div class="page-wrapper">
    {% include 'partials/backend-side-menu.html.twig' %}
        <div class="page-container">
    	{% include 'partials/backend-header.html.twig' %}
            <div class="main-content">
                <div class="header-content">
                    <div class="container">
                            <div class="content-box">
                                <h3 class="title-3">
                                    <i class="fas fa-users"></i>tbc</h3>
                                    <p> tbc
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
