.alert-success {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: 16px;
    min-width: 320px;
    max-width: 900px;
    color: white;
    background: #10a010;
    height: 16px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    justify-content: center;
    padding: 13px;
    cursor: pointer;
    z-index: 10;
}

.alert-failure {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: 5%;
    color: white;
    background: #a01510;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
}

.slide-in-top {
	-webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out-top {
	-webkit-animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6s both;
	        animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6s both;
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}