body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    width: inherit;
}

.page-wrapper {
    overflow: hidden;
    background: #e5e5e5;

    .menu-sidebar {
        display: block;
        width: 300px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        .menu-sidebar-content {
            position: relative;
            background-color: #1F263C;
            height: 100%;
        }

        .sidebar {
            padding: 110px 35px;
        }

        .navbar-list li a {
            display: block;
            color: rgb(255, 255, 255);
            font-size: 16px;
            padding: 15px 0;
        }
        
        .navbar-list li a i {
            margin-right: 19px;
        }
        
        .navbar-list li a:hover {
            color: #ff4000;
        }
    }

    .header {
        background-color: #1F263C;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        right: 0;
        left: 300px;
        height: 75px;

        .header-content {
            position: relative;
            margin: 0 auto;
            z-index: 1;
            padding: 0 30px;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);

            .container {
                padding-right: 15px;
                padding-left: 15px;

                .header-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .account-item {
                        

                        .content {
                            color: rgb(255, 255, 255);
                        }
                    }
                }                
            }
        }
    }

    .main-content {
        padding-top: 116px;
        min-height: 100vh;
        background-color: #15192A;

        .header-content {
            position: relative;
            margin: 0 auto;
            z-index: 1;
            padding: 0 30px;

            .container {
                padding-right: 15px;
                padding-left: 15px;

                .content-box {
                    border: 1px solid #e5e5e5;
                    background: #fff;
                    padding: 40px;
                    padding-top: 44px;
                    padding-right: 60px;

                    .title {
                        text-transform: capitalize;
                        font-weight: 400;
                        font-size: 24px;
                        color: #333;
                        margin-bottom: 30px;
                    }
                    
                    .title i {
                        margin-right: 13px;
                        vertical-align: baseline;
                    }
                }
            }
        }        
    }
}

.page-container {
    background: #e5e5e5;
    padding-left: 300px;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-add {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    margin-right: 0 !important;

    &:hover {   
        transition: 0.2s;
        color: #177e1f; 
    }
}

.user-list {
    font-size: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 25px 0;
    border-bottom: grey 1px solid;

    .username {
        display: flex;
        align-items: center;
        font-size: 21px;
    }

    .name {
        padding: 0 20px;
    }

    .user-buttons {
        display: flex;
        justify-content: flex-end;
        flex: auto;

        .edit {
            display: flex;

            &:hover {
                transition: 0.2s;
                color: #177e1f; 
            }
        }

        .delete {
            display: flex;
            
            &:hover {
                transition: 0.2s;
                color: #ff4000; 
            }
        }

        .toggle {
            display: flex;
            margin: 0 25px;

            &:hover {
                transition: 0.2s;
                color: #177e1f; 
            }
        }
    }
}